<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true" bootstrap="tests/bootstrap.php" stopOnFailure="true">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="MicrosoftTeamsNotifier Test">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="TEST_WEBHOOK_DSN" value="https://webhook2/uuid@uuid/IncomingWebhook/id/uuid"/>
  </php>
</phpunit>
