<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutCoversAnnotation="false"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutTodoAnnotatedTests="true"
        beStrictAboutResourceUsageDuringSmallTests="true"
        convertDeprecationsToExceptions="true"
        failOnEmptyTestSuite="true"
        failOnIncomplete="true"
        failOnRisky="false"
        failOnSkipped="false"
        failOnWarning="true"
        verbose="false"
        bootstrap="vendor/autoload.php"
        enforceTimeLimit="false"
        executionOrder="default"
        resolveDependencies="true"
        colors="true"
>
  <php>
    <ini name="date.timezone" value="UTC"/>
    <env name="TEST_WEBHOOK_DSN" value="https://webhook2/uuid@uuid/IncomingWebhook/id/uuid"/>
  </php>

  <testsuites>
    <testsuite name="MicrosoftTeamsNotifier Test">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>

  <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="false"/>
    </report>
  </coverage>
</phpunit>
